body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

footer{
    margin-top: 50px;
}

button {
    width: 100%;
}


.show {
    display: block;
}

.inline {
    display: inline;
}

.block {
    display: block;
}

.card_title{
    margin-top: 50px;
}