/******************* ****** *******************/
/****************** TABLETTE ******************/
/******************* ****** *******************/

@media only screen and (max-width: 768px){


    /*------------------------------------*\
                   HEADER
    \*----------------------------------- */

    header menu {
        display: none;
    }

    #icon_burger{
        display: inline-block;
        padding: 1rem;
        position: relative;
        width: 5rem;
        height: 6rem;
        cursor: pointer;
    }

    #icon_burger:before{
        content: "";
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 2rem;
        height: 0;
        box-shadow: 0 12px 0 1px white, 0 20px 0 1px white, 0 28px 0 1px white;
    }

    .responsive{
        position: absolute;
        top: -50rem;
        right: 0;
        margin-top: 10rem;
        padding-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        height: 40rem;
        width: 100%;
        background-color: #1a1a1a;
        background-image: url("../img/macuisine_logo.svg") ;
        background-repeat:no-repeat;
        background-position: top center;
        background-size: 70%;
        background-origin: content-box;
        border-bottom: solid 2px #ffffff88;
        transform: translateY(40rem);
    }

    .responsive a{
        padding: 1rem 1rem 1rem 1rem;
        border-bottom: solid 1px #ffffff88;
    }




    /*------------------------------------*\
                   SECTION LAST
    \*----------------------------------- */

    .slider{
        height: 25rem;
        margin: 0 auto 4rem;
    }

    .slides{
        width: calc(30rem * 10);
    }

    .slide {
        overflow: hidden;
        -webkit-border-radius:12.5rem;
        -moz-border-radius:12.5rem;
        border-radius:12.5rem;
        width:25rem;
        height:25rem;
        margin-right: 3rem;
    }

    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        10%{
            transform: translateX(-25rem);
        }
        20%{
            transform: translateX(-50rem);
        }
        30%{
            transform: translateX(-75rem);
        }
        40%{
            transform: translateX(-100rem);
        }
        50%{
            transform: translateX(-125rem);
        }
        60%{
            transform: translateX(-150rem);
        }
        70%{
            transform: translateX(-175rem);
        }
        80%{
            transform: translateX(-200rem);
        }
        90%{
            transform: translateX(-225rem);
        }
    }

    /*------------------------------------*\
                   SECTION SLATE
\*----------------------------------- */
    #slate figcaption{

        padding: 0 .1rem;
    }

    #slate figure:hover figcaption, #slate figure:focus figcaption{
        height: 100%;
    }

    /*------------------------------------*\
                   SECTION HAND
    \*----------------------------------- */
    #hand {
        display: block;
    }

    #hand div{
        width: 90%;
        margin: auto;
    }


    /*--------------------------------------------*/
    /*______________ GRILLE RECETTES _____________*/

    .grid{
        grid-template-columns: 1fr;
    }

    .grid_body {
        grid-column: span 1;
    }

    .grid_body h4 {
        display: none;
    }


    /*-----------------------------------------*/
    /*______________ PAGE RECETTE _____________*/

    .recipe img{
        border: solid #262626 2rem;
        margin-top: 2rem;
    }
}



/******************* ****** *******************/
/******************* MOBILE *******************/
/******************* ****** *******************/


@media only screen and (max-width: 450px) {



    /*-----------------------------------------*/
    /*______________ PAGE RECETTE _____________*/

    .recipe img{
        border: solid #262626 1rem;
        margin-top: 1rem;
    }

}



/******************* ****** *******************/
/***************** FLOW-TEXT ******************/
/******************* ****** *******************/

@media only screen and (min-width: 360px) {
    .flow-text {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 390px) {
    .flow-text {
        font-size: 1.224rem;
    }
}

@media only screen and (min-width: 420px) {
    .flow-text {
        font-size: 1.248rem;
    }
}

@media only screen and (min-width: 450px) {
    .flow-text {
        font-size: 1.272rem;
    }
}

@media only screen and (min-width: 480px) {
    .flow-text {
        font-size: 1.296rem;
    }
}

@media only screen and (min-width: 510px) {
    .flow-text {
        font-size: 1.32rem;
    }
}

@media only screen and (min-width: 540px) {
    .flow-text {
        font-size: 1.344rem;
    }
}

@media only screen and (min-width: 570px) {
    .flow-text {
        font-size: 1.368rem;
    }
}

@media only screen and (min-width: 600px) {
    .flow-text {
        font-size: 1.392rem;
    }
}

@media only screen and (min-width: 630px) {
    .flow-text {
        font-size: 1.416rem;
    }
}

@media only screen and (min-width: 660px) {
    .flow-text {
        font-size: 1.44rem;
    }
}

@media only screen and (min-width: 690px) {
    .flow-text {
        font-size: 1.464rem;
    }
}

@media only screen and (min-width: 720px) {
    .flow-text {
        font-size: 1.488rem;
    }
}

@media only screen and (min-width: 750px) {
    .flow-text {
        font-size: 1.512rem;
    }
}

@media only screen and (min-width: 780px) {
    .flow-text {
        font-size: 1.536rem;
    }
}

@media only screen and (min-width: 810px) {
    .flow-text {
        font-size: 1.56rem;
    }
}

@media only screen and (min-width: 840px) {
    .flow-text {
        font-size: 1.584rem;
    }
}

@media only screen and (min-width: 870px) {
    .flow-text {
        font-size: 1.608rem;
    }
}

@media only screen and (min-width: 900px) {
    .flow-text {
        font-size: 1.632rem;
    }
}

@media only screen and (min-width: 930px) {
    .flow-text {
        font-size: 1.656rem;
    }
}

@media only screen and (min-width: 960px) {
    .flow-text {
        font-size: 1.68rem;
    }
}

@media only screen and (max-width: 360px) {
    .flow-text {
        font-size: 1.2rem;
    }
}